  <div class="container">
    <div class="row"> 
      <div class=".col-md-4">
        <form method="POST" action="/signup">
          <div class="form-group">
            <label for="SignUpFirstName">First Name</label>
            <input type="text" class="form-control" id="SignUpFirstName" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="SignUpLastName">Last Name</label>
            <input type="text" class="form-control" id="SignUpLastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="SignUpEmail">Email</label>
            <input type="text" class="form-control" id="SignUpEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label>Country</label>
            <select class="form-control">
              <option>Please Select</option>
              <option>Canada</option>
              <option>USA</option>
              <option>Mexico</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default btn-block">Sign Up</button>
        </form>
      </div>
    </div>
  </div>